<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href="/public/main.css">

  <title>You've been invited to a call</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80291721-8"></script>
  <script>
    /* global window, dataLayer */
    window.dataLayer = window.dataLayer || []

    function gtag() {
      dataLayer.push(arguments)
    }

    gtag('js', new Date())

    gtag('config', 'UA-80291721-8')
  </script>
</head>

<body>

  <div class="main" id="app">
    <!-- Start screen -->
    <div v-if="currentScreen === 'start'">
      <h2>You have been invited to a video call</h2>
      <span>Do you want to run a quick connection test before joining? We recommend connecting your headphones before
        the test to minimise echo.</span>
      <section class="marginTop4">
        <button class="button positive marginTop1" v-on:click="currentScreen = 'step1'">Yes, sure!</button>
        <br />
        <a v-bind:href="callLink" class="button negative marginTop1">Just take me to the call</a>
      </section>
    </div>

    <!-- Step 1 -->
    <div v-if="currentScreen === 'step1'">
      <h1>Is the picture and audio quality okay?</h1>

      <!-- CONDITIONAL RENDERING - Load video when loading process complete -->
      <div v-show="loading === false" class="grid marginTop4">
        <article class="local">
          <h4>Local View</h4>
          <video id="localVideo" autoplay playsinline webkit-playsinline>
        </article>
        <article class="remote">
          <h4>Remote View</h4>
          <iframe src="/public/remoteVideo.html" id="remoteVideoFrame">Wow, what browser are you using?? IE6??? UPDATE
            PLEASE!!!!!!!</iframe>
        </article>
      </div>
      <div v-show="loading === 'NOTALLOWED'" class="marginTop4">
        <h3 style="font-weight: 700; color: red;">You need to get us your Camera access for checking the quality of
          connection</h3>
        <br />
        <img src="https://media2.giphy.com/media/5tkRfI2ZGrEKBgctes/giphy.gif"
          alt="You need to allow us your camera and sound access!" width="350" />
      </div>
      <div v-show="loading === true" class="marginTop4">
        <span style="text-transform: uppercase"><strong>Loading</strong> Webcam & Audio</span>
        <center>
          <div class="loader" style="margin-top: 20px;"></div>
        </center>
      </div>
      <!-- / CONDITIONAL RENDERING -->

      <section class="marginTop4">
        <button class="button positive marginTop1" v-show="loading === false" v-on:click="currentScreen = 'done'">Yes,
          it is!</button>
        <br />
        <button class="button negative marginTop1" v-on:click="currentScreen = 'start'">⬅ Take me back</button>
      </section>
    </div>

    <!-- Step 2 -- Not needed -->
    <!--<div v-if="currentScreen === 'step2'">
      <h2>Can you hear yourself?</h2>
      <figure class="audioPlacement">
          <audio
              controls
              src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3">
                  Your browser does not support the
                  <code>audio</code> element.
          </audio>
      </figure>
      <section class="marginTop4">
        <button class="button positive marginTop1" v-on:click="currentScreen = 'done'">Yes, I can!</button>
        <br />
        <button class="button negative marginTop1" v-on:click="currentScreen = 'step1'">⬅ Take me back</button>
      </section>
    </div>-->

    <!-- Done -->
    <div v-if="currentScreen === 'done'">
      <div class="main">
        <h1>You're all set!</h1>
        <br />
        <section class="marginTop4">
          <a v-bind:href="callLink" class="button positive marginTop1 bold">Join the call</a>
          <br />
          <button class="button negative marginTop1" v-on:click="currentScreen = 'step1'">⬅ Take me back</button>
        </section>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js"></script>
  <script src="/public/guest.js"></script>
</body>

</html>