<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href="/public/main.css">

  <title>JoinMyCall - Check your connection before joining a call</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80291721-8"></script>
  <script>
    /* global window, dataLayer */
    window.dataLayer = window.dataLayer || []

    function gtag() {
      dataLayer.push(arguments)
    }

    gtag('js', new Date())

    gtag('config', 'UA-80291721-8')
  </script>
</head>

<body>

  <div class="main" id="app">
    <img class="logo" src="/public/logo.svg" />
    <h1>Make your colleagues take a connection/camera/mic test before joining your call</h1>
    <form v-on:submit.prevent="genLink">
      <div class="ui action input">
        <input type="url"
          placeholder="Call link (e.g. https://meet.google.com/xxx-xxxx-xxx, https://zoom.us/j/1234567890)"
          v-model="enteredLink">
        <button class="ui right button primary">
          Generate
        </button>
      </div>
    </form>
    <section class="result marginTop4" v-if="generatedLink">
      <span class="successText">Your calling link is generated</span>
      <br /><br />
      <div class="ui action input">
        <input type="text" v-bind:value="'https://joinmycall.now.sh/l/' + generatedLink" id="generatedLink">
        <button class="ui teal right labeled icon button copy-btn" data-clipboard-target="#generatedLink">
          <i class="copy icon"></i>
          {{ copyStatus }}
        </button>
      </div>
    </section>
  </div>

  <div class="credits">
    Made by <a href="https://twitter.com/gbougakov" target="_blank" rel="noopener noreferrer">George Bougakov</a>
    and <a href="https://twitter.com/kumar_abhirup" target="_blank" rel="noopener noreferrer">Kumar Abhirup</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.3.4/lib/darkmode-js.min.js"></script>
  <script src="/public/dark-mode.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="/public/host.js"></script>

</body>

</html>