@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif !important;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif !important;
  }
}

body {
  padding: 20px;
}

div.main {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  padding: 30px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.marginTop1 {
  margin-top: 5px;
}

.marginTop2 {
  margin-top: 10px;
}

.marginTop3 {
  margin-top: 15px;
}

.marginTop4 {
  margin-top: 20px;
}

.marginBottom1 {
  margin-bottom: 5px;
}

.marginBottom2 {
  margin-bottom: 10px;
}

.marginBottom3 {
  margin-bottom: 15px;
}

.marginBottom4 {
  margin-top: 20px;
}

.button {
  display: inline-block;
  border: none;
  font-size: 17px;
  padding: 10px;
  cursor: pointer;
}

.positive {
  background: #5ECD71;
  color: #fff;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

.negative {
  font-size: 13px;
  color: rgba(0, 0, 0, .3);
  background: none;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  width: 80%;
  max-width: 1000px;
  margin: 0px auto;
}

.grid article {
  width: 100%;
  padding: 15px;
}

.grid article video {
  width: 100%;
}

.grid article iframe {
  width: 100%;
  height: calc(100% - 10%);
  border: none;
}

figure.audioPlacement {
  margin-top: 30px !important;
}

.bold {
  font-weight: 700;
}

form div.input {
  max-width: 900px;
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  /* border: 1px solid red; */
}

form div.input input {
  padding: 20px !important;
  font-size: 15px;
}

.credits {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.successText {
  color: green;
}

.logo {
  width: 200px;
}

@media (max-width: 750px) {
  article.local {
    display: none;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}